/* .dropdown-button {
	background-color: red !important;
	box-shadow: none !important;
}

.dropdown-font-family {
	box-shadow: none !important;
}

.dropdown-icon {
	box-shadow: none !important;
}

.expanded {
	box-shadow: none !important;
} */
.dropdown-menu {
  height: 200px;
  overflow-y: scroll;
}

.container {
  max-width: 100% !important;
}

.wide-btn-add {
  width: 100% !important;
}

.add-text-btn {
  width: 100% !important;
}

.add-img-btn {
  width: 100% !important;
}

.export-img-btn {
  width: 100% !important;
}

.export-prj-btn {
  width: 100% !important;
}

.imp-prj-btn {
  width: 100% !important;
}
